.mainNav{
    position: sticky;
    top:0;
    /* background-color: white; */
    z-index: 100;
    width: 100%;
}
.nav-center{
    padding: 1rem;
    height: 2.5rem;
    border: 1px solid lightgrey;
    border-radius: 99.9rem;
    max-width: fit-content;
}
.nav-center input{
    border:none;
    width:25rem; 
    /* we have to set width responsively */
    outline-width: 0;
}