.cardStyle{
    cursor: pointer;
    /* border: 2px solid rgb(190, 190, 190); */
    margin: 1% auto;
    transition: transform 100ms ease-in;
}
.cardStyle:hover{
    transform: scale(1.07);
}
    /* width:40%;
    height: 250px; */

.imagec{
    display: inline-block;
    margin: 0px 75px;
    height: 100%;
    width:50%;
}
.title{
    height: 100px;
}
.imgDiv{
    height: 120px;
    width: 225px;
}